.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #150f0f;
  color: #fff;
  border: 2px solid #dddddd;
  border-radius: 3px;
}

.subtotal > button {
  font-size: 0.8rem;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  background: #e31837;
  color: #fff;
  transition: 0.2 ease-out;
}

.subtotal > button:hover {
  background: #ffc500;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #000;
}
